# Unreal Engine
Binaries/
Intermediate/
Saved/
DerivedDataCache/
Build/

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates

# Compiled files
*.lib
*.exp
*.pdb
*.dll
*.exe

# OS
.DS_Store
Thumbs.db